---
---

/* usf colors */
$usf-gold:  #FDBB30;
$usf-green: #00543C;
$usf-gray:  #919194;

/* usf accent palette */
$usf-olive:     #73973F;
$usf-lime:      #AED136;
$usf-turquoise: #02B8A0;
$usf-blue:      #00B3D8;

$usf-orange:  #EB821E;
$usf-terra:   #CD542C;
$usf-saddle:  #CCAF74;
$usf-beige:   #DED5B4;
$usf-plum:    #A8228E;

/* bulma color customization */
$yellow:    $usf-gold;
$orange:    $usf-terra;
$green:     $usf-lime;
$turquoise: $usf-turquoise;
$blue:      $usf-blue;
$purple:    $usf-plum;

$primary: $usf-green;
$link:    $usf-blue;
$info:    $usf-turquoise;
$success: $usf-lime;
$warning: $usf-gold;
$danger:  $usf-terra;

$custom-colors: (
  "usf-gold":  $usf-gold,
  "usf-green": $usf-green,
  "usf-gray":  $usf-gray,
  "usf-lime":  $usf-lime,
  "usf-plum":  $usf-plum,
  "usf-blue":  $usf-blue,
  "usf-teal":  $usf-turquoise,
  "usf-terra": $usf-terra
);

/* bulma font customization */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,500,700');

$family-sans-serif: 'Roboto', sans-serif;
$family-monospace: 'Roboto Mono', monospace;

$weight-light: 300;
$weight-normal: 300;
$weight-medium: 500;
$weight-semibold: 500;
$weight-bold: 700;

@import "bulma";

/* custom non-bulma styles */

code,
pre,
tt,
.code,
.pre,
.tt,
{
  font-family: $family-monospace;
  font-size: 0.9em;
  font-weight: $weight-normal;
}

hr {
  border-bottom: 1px solid #dbdbdb;
}

strong,
em {
  color: inherit;
}

del,
strike,
.del,
.strike
{
  text-decoration: line-through;
}

div.highlight {
  margin-bottom: 1em;
}

li p {
  margin-bottom: 1em;
}

[class^="has-text-"] a {
  color: inherit;
  text-decoration: currentColor underline dotted;
}

.content li.bump {
  margin-top: 0.8rem;
}

@media print {
  .noprint, .noprint * {
      display: none !important;
  }

  html, body {
    font-size: 10pt !important;
    line-height: 1.125 !important;
  }
}

/* fix font-awesome lists */
ul.fa-ul li {
  list-style-type: none;
}

textarea.copy {
  font-family: $family-monospace;
  font-size: 0.9em;
  font-weight: $weight-normal;

  resize: none;
  overflow: hidden;

  margin-bottom: 1em;
}
