<!-- footer -->
<footer class="footer noprint">
  <div class="content has-text-centered is-size-7">
    <p>
      <a href="#top">
        <span class="fas fa-arrow-up"></span>
        <span class="has-text-weight-medium">Back to Top</span>
      </a>
    </p>

    <p>
      <a href="{{ site.github.repository_url }}" class="button is-small" style="padding-left: 1em; padding-right: 1em;">
        <i class="fab fa-github-alt"></i>&nbsp;<strong>Github</strong>
      </a>

      <a href="https://fontawesome.com/" class="button is-small" style="padding-left: 1em; padding-right: 1em;">
        <i class="fab fa-font-awesome"></i>&nbsp;<strong>FontAwesome</strong>
      </a>

      <a href="https://bulma.io" class="button is-small">
        <img src="https://bulma.io/images/made-with-bulma--semiblack.png" alt="Made with Bulma" width="128" height="24">
      </a>
    </p>

  </div>
</footer>
<!-- end footer -->
