<!DOCTYPE html>
<html>

<!-- head -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{ '/favicon.ico?' | absolute_url }}" type="image/x-icon">

<title>{{ site.title }}</title>

<link rel="stylesheet" href="{{ '/css/main.css' | absolute_url }}">
<link rel="stylesheet" href="{{ '/css/style.css' | absolute_url }}">
<link rel="stylesheet" href="{{ '/css/all.min.css' | absolute_url }}">
</head>

<!-- body -->
<body>

{% include header.html %}

{% include navbar.html %}

<section class="section">
  <div class="container">

    <article class="message is-danger">
      <div class="message-header">
        <p>COVID-19 Notice</p>
      </div>
      <div class="message-body">
        Due to the COVID-19 outbreak, this website is being retired effective March 15, 2020. All future updates will be moved to <a href="{{ site.data.info.links.canvas.link }}">Canvas</a> for online instruction as advised by the university.
      </div>
    </article>

    <h2 class="title is-2">{{ page.title }}</h2>

    <!-- content -->
    <div class="content">

      {{ content }}

    </div>
    <!-- end content -->

  </div>
</section>

{% include footer.html %}

<!-- end -->
</body>
</html>
